:root {
  --white: #fff;
  --lightest-gray: #f1f2f5;
  --lighter-gray: #d1d1d3;
  --light-gray: #ddd;
  --medium-gray: #545862;
  --dark-gray: #333;
  --black: #000;
  --body-shadow: rgba(0, 0, 0, 0.15);
  --blue-color: #2e8ae6;
  --edit-focus-color: #fffecb;
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightest-gray);
}

.todo-container {
  width: 40%;
  min-height: calc(100vh - 40vh);
  margin: 10vh 0;
  background-color: #fff;
  box-shadow: 0 2px 8px var(--body-shadow);
  border-radius: 3px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.todo-list-group {
  width: 100%;
}

.todo-list {
  height: 50px;
  width: calc(100% - 40px);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px var(--light-gray) solid;
  background-color: var(--white);
}

.todo-intro {
  font-size: 15px;
}

.todo-intro-title {
  font-weight: 600;
  opacity: 0.9;
  color: var(--medium-gray);
}

.todo-intro i {
  font-size: 17px;
  opacity: 0.5;
  color: var(--dark-gray);
}

.todo-add * {
  color: var(--light-gray);
}

.todo-add input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.todo-add input::placeholder {
  color: var(--light-gray);
}

.todo-add i {
  font-size: 12px;
}

.todo-item {
  position: relative;
}

.edit-focus-element {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  background-color: var(--white);
}

.checked-icon {
  color: var(--blue-color);
  cursor: pointer;
  font-size: 18px;
  position: relative;
  z-index: 1;
}

.unchecked-icon {
  font-size: 13px;
  border: 2px var(--light-gray) solid;
  cursor: pointer;
  color: transparent;
  border-radius: 3px;
  position: relative;
  z-index: 1;
}

.todo-item input {
  width: calc(100% - 30px);
  padding: 0 15px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 100;
  text-align: start;
  position: relative;
  z-index: 1;
}

.undecoration {
  color: var(--black);
  text-decoration: none;
}

.decoration {
  opacity: 0.5;
  color: var(--dark-gray);
  text-decoration: line-through;
}

.delete-icon,
.more-icon {
  font-size: 17px;
  opacity: 0.5;
  color: var(--dark-gray);
  cursor: pointer;
}

.delete-icon {
  display: none;
}

.more-icon {
  display: block;
}

.clear-todo {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  outline: none;
  border: none;
  background-color: var(--lightest-gray);
  font-size: 16px;
  cursor: pointer;
}

.clear-todo span {
  opacity: 0.5;
  color: var(--dark-gray);
}

.clear-todo span:hover {
  opacity: 1;
  color: var(--black);
  text-decoration: underline;
}

.edit-todo:focus ~ .edit-focus-element {
  background-color: var(--edit-focus-color);
}

.delete-icon:active {
  display: block;
}

.edit-todo:focus ~ .delete-icon {
  display: block;
}

.edit-todo:focus ~ .more-icon {
  display: none;
}

.delete-icon:active ~ .more-icon {
  display: none;
}
